html {
	font-family: "Segoe UI", tahoma, arial, sans-serif;
	font-size: 11pt;
	background: #F9E3F9;
}

body {
	margin: 0;
	height: 100%;
}

nav.sitenav {
	display: block;
	background: #CCCCFF;
	height: 30px;
	padding: 10px 40px 0 100px;
	left: 0;
	right: 0;
	top: 0;
	font-weight: bold;
	position: fixed;
	box-shadow: 0 0 20px;
	z-index: 9999999;
	font-family: tahoma, geneva, sans-serif;
}

:target{
	padding-top: 30px;
	margin-top: -30px;
}

nav > div {
	display: inline-block;
}

nav > div > ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0
}

nav > div > ul > li {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

nav > div > ul > li > ul {
	position: absolute;
	background: #CCCCFF;
	display: none;
	list-style: none;
	border-radius: 0 0 10px 10px;
	margin-top: 3px;
}

nav > div > ul > li:hover > ul {
	display: block;
}

nav > a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

nav ul {
	padding: 0;
}

nav > div > ul > li:hover {
	background: #AAAADD;
}

nav > div > ul > li > ul > li {
	border-top: 1px solid;
	border-radius: 0 10px 10px;
}

nav a:visited,
nav a {
	text-decoration: none;
	font-size: 13pt;
	color: #222266;
	padding: 3px 10px;
}

nav > div > ul > li > ul > li > a {
	display: block;
}

nav > div > ul > li > a:not(:only-child) {
	border-radius: 10px 10px 0 0 ;
}

nav > div > ul > li > ul > li:not(:last-child) > a {
	border-radius: 0 10px;
}

nav > div > ul > li > ul > li:last-child > a {
	border-radius: 0 10px 10px;
}

nav > div.Home a,
nav > div > ul > li,
nav > div > ul > li > a:only-child {
	border-radius: 10px;
}

nav a:hover {
	color: white;
	background: #5555FF;
}

div.Links {
	float: right;
}

div.content {
	margin-top: 30px;
	padding: 30px 10%;
	background: #F9E3F9;
	height: 100%;
}

div.content > div {
	background: #FFFFFF;
	padding: 30px 10%;
	box-shadow: 3px 3px 4px #000;
	border-radius: 20px;
}

div.content h1 {
	font-size: 300%;
	position: relative;
	left: -50px;
	border-bottom: 3px solid;
	padding-left: 10px;
}

div.content h2 {
	font-size: 170%;
	position: relative;
	left: -20px;
	border-bottom: 1px solid;
	padding-left: 10px;
	width: 80%;
}

code {
	font-family: consolas, monospace;
	font-weight: bold;
}

code.snesasm {
	white-space: pre;
	font-size: 90%;
}

code.opcode {
	color: #0000CC;
}

code.address {
	color: #C93858;
}

code.number,
code.value {
	color: #444499;
}

code.routine {
	color: #6E1BBB;
}

q.wrong {
	font-style: italic;
	color: #8A2D2D;
}

.wtf {
	display: inline-block;
	color: red;
	transform: skewX(-20deg) rotate(-2deg);
}

.wtf:hover {
	transform: none;
}

strong.wrong {
	text-decoration: underline;
	color: red;
}

span.evil {
	font-family: comic sans ms;
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 3px #FF9999;
}

dl.proseList dt:before {
	content: '';
	margin-top: 10px;
	display: block;
}

dl.proseList dt {
	display: inline;
	font-weight: bold;
}

dl.proseList dd {
	display: contents;
}

/* Backgrounds */
div.content {
	background-attachment: fixed;
}

div.content.glitchybg {
	background-image: url('bg/vramcorruption.png');
	background-blend-mode: screen;
}