html {
	font-family: Roboto, "Segoe UI", tahoma, arial, sans-serif;
	font-size: 11pt;
	background-color: #F9E3F9;
	height: 100%;
	min-width: 1000px;
	scroll-padding-top: 50px;
}

body {
	margin: 0;
	height: auto;
	counter-reset: footnotes footnotesid;
}


div.content {
	margin-top: 30px;
	padding: 30px 10%;
	background-color: #F9E3F9;
	height: auto;
}

div.content > div.contentstuff,
div.content > div.widecontent {
	background: #FCFCFF;
	padding: 30px 10%;
	box-shadow: 3px 3px 4px black;
	border: 1px solid black;
	border-radius: 20px;
	margin: auto;
}

div.content > div.contentstuff {
	max-width: 800px;
	min-width: 500px;
}

div.content > div.widecontent {
	max-width: 1100px;
	min-width: 1100px;
}

div.content.houlihan404bg > .the404page {
	color: white;
	background: inherit;
	background-color: #080808DD;
	background-blend-mode: soft-light;
	padding: 30px 60px;
	box-shadow: 3px 3px 4px black;
	border: 2px solid black;
	border-radius: 20px;
}


a {
	text-decoration: none;
	color: #44D;
}

a:hover {
	text-decoration: underline;
	color: #FFC300;
}

a.headerLink {
	opacity: .5;
	font-size: 80%;
	padding-left: 5px;
	font-weight: normal;
}

dfn {
	font-style: normal;
}

dt {
	font-weight: bold;
}

hr {
	margin-left: -6%;
	margin-right: -2%;
	border-style: outset;
}

::selection {
	background: #88F;
	color: #FCFCFF;
}

div.clear {
	clear: both;
}

div.center,
p.center {
	margin: inherit auto;
	text-align: center;
}

div.imagecaption {
	font-size: smaller;
}

.marginless {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.italics {
	font-style: italic;
}

li > p {
	margin-block-start: 0;
	margin-block-end: 0;
}

table > thead th {
	background: #B0B0FF;
	padding: 2px;
	text-align: center;
}

table > tbody th {
	padding: 2px 5px;
	background: #E0E0FF;
	text-align: inherit;
}

table {
	min-width: 40%;
	border: 1px solid #CCCCFF;
	box-shadow: 3px 3px 3px #606060;
	background: #EEEEFF;
	padding: 2px 1px;
	font-size: 90%;
}

table.disassembly [rowspan] {
	vertical-align: top;
}

table.topheaders th {
	vertical-align:top;
}

td, th {
	box-shadow: 2px 2px 1px #BBBBDD;
}

tr.center > td,
tr.center > th {
	text-align: center;
}

tr.darkrow > th,
th.darkheader {
	background: #7474C8 !important;
}

tr.mediumrow > th,
th.mediumheader {
	background: #8F8FE8 !important;
}

div.content h1, 
div.content h2, 
div.content h3, 
div.content h4,
#footnoteslist:before {
	padding-left: 10px;
	clear: both;
	margin-right: -10px;
	margin-left: -20px;
}

div.content h1 {
	font-size: 300%;
	border-bottom: 3px solid;
}

div.content h2 {
	font-size: 190%;
	border-bottom: 1px solid;
}


div.content h3 {
	font-size: 150%;
	border-bottom: 1px solid #888888;
}

div.content h4 {
	font-size: 130%;
	border-bottom: 1px solid #A8A8A8;
}

blockquote {
	font-style: italic;
}

blockquote.centerquote {
	font-style: italic;
	margin: auto;
	width: 50%;
}

blockquote:before,
blockquote:after {
	content: "\""
}

.float-right {
	float: right;
}

/* hack formatting */
code,
addr, asmop, asmvar, asmfunc, asmreg, asmval {
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: 91%;
	line-height: 90%;
}

asmop {
	color: #0000CC;
}

addr {
	color: #C93858;
}

asmvar {
	color: #4949D7;
}

asmval {
	color: #444499;
}

asmreg {
	color: #0C9200;
}

asmfunc {
	color: #6E1BBB;
}

code.mathVar,
code.mathFunc,
code.mathAns {
	font-size: 95%;
	line-height: 80%;
	letter-spacing: -.05em;
	font-style: italic;
}

code.mathFunc {
	white-space: nowrap;
}

code.mathVar {
	color: #1936EA;
	font-weight: bold;
}

code.mathAns {
	color: #B5370B;
	font-weight: bold;
}



/* tables */
table.shrunktable {
	min-width: 10%;
}

table.centertable {
	margin: 0 auto;
}

table.tablefloatright {
	float: right;
}

table.align-right {
	text-align: right;
}

table.align1right tr > td:nth-child(1) {
	text-align: right;
}

table.align3right tr > td:nth-child(3) {
	text-align: right;
}

table.align4right tr > td:nth-child(4) {
	text-align: right;
}

table.align6right tr > td:nth-child(6) {
	text-align: right;
}

table.aligncenter tr > td {
	text-align: center;
}

td {
	padding: 2px 5px;
}

tr.header th,
th.header {
	text-align: center;
}

.noheaderstripes > tbody > tr > th,
.nostripes > tbody > tr > th,
tbody > tr:nth-child(odd):not(.header) th {
	background: #D0D0FF;
}

.nostripes > tbody > tr,
tbody > tr:nth-child(even) {
	background: #FFFFFF;
}

tr.header th:not(.divider),
th.header {
	background: #ADADFD !important;
}

th.divider {
	width: 10px;
	box-shadow: none;
	background: transparent;
}

th.number,
td.number {
	text-align: right;
}

td.dead {
	opacity: 0.4;
}

span.disgusting {
	color: green;
	font-weight: bold;
	font-style: oblique;
	font-variant: small-caps;
	text-decoration: underline;
	text-decoration-style: wavy;
}

code.nowrap,
span.nowrap {
	white-space: nowrap;
}

/* Backgrounds */
html,
div.content {
	background-attachment: fixed;
}

.glitchybg {
	background-image: url('/assets/bg/vramcorruption.png');
	background-blend-mode: color-burn;
	background-size: contain;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.mechanicsbg {
	background-image: url('/assets/bg/bank07code.png'), linear-gradient(to bottom, #C7B6F9, #756A96);
	background-repeat: repeat, repeat;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	background-attachment: fixed, scroll !important;
	background-position: left, center;
}

.houlihanbg {
	background-image: url('/assets/bg/houlihanbg.png');
	background-blend-mode: hard-light;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}


.houlihan404bg {
	background-image: url('/assets/bg/houlihanbg.png');
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.milonsbg {
	background-image: url('/assets/bg/milons.png');
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

div.hackTitle {
	width: 100%;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 20% center;
}


/* Header */
nav.sitenav {
	border-bottom: 2px solid #222266;
	top: 0;

}

footer {
	border-top: 1px solid #222266;
	bottom: 0;
	margin-top: auto;
}

footer,
nav.sitenav {
	display: block;
	background: #CCCCFF;
	height: 30px;
	padding: 10px 40px 0 40px;
	left: 0;
	right: 0;
	font-weight: bold;
	font-family: tahoma, geneva, sans-serif;
	overflow: hidden;
	position: fixed;
	z-index: 9999999;
}

nav > div {
	display: inline-block;
}

footer > div {
	margin: 0 auto;
	text-align: center;
}

footer > div > ul,
nav > div > ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0;
}

footer > div > ul > li,
nav > div > ul > li {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

nav ul {
	padding: 0;
}

footer > div > ul > li:hover,
nav > div > ul > li:hover {
	background: #AAAADD;
}

footer a,
footer a:visited,
nav span.dropdown,
nav a:visited,
nav a {
	margin: 0;
	text-decoration: none;
	font-size: 13pt;
	color: #222266;
	padding: 3px 8px;
}

nav span.dropdown {
	display: block;
}

footer a {
	display: block;
	font-size: 10.5pt;
}

nav span.dropdown,
nav > div > ul > li > a:not(:only-child) {
	border-radius: 10px 10px 0 0 ;
}

nav > div.metaLinks a,
nav > div.Home a,
nav > div > ul > li,
nav > div > ul > li > a:only-child {
	border-radius: 10px;
}

footer a:hover,
nav span.dropdown:hover,
nav a:hover {
	color: #FCFCFF;
	background: #5555FF;
	text-decoration: none;
}

nav span.dropdown:hover,
nav a:hover {
	transition: background .4s ease 0s;
	transition-property: color, background;
}

div.Links {
	float: right;
}

div.metaLinks {
	display: inline-block;
	font-variant: small-caps;
}

div.metaLinks a {
	font-size: 85%;
	padding: 3px 5px;
}

button.footnote-tag {
	vertical-align: super;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 75%;
	color: #6161F2;
	cursor: help;
	&:hover {
		color: #111182;
		text-decoration: underline;
		text-decoration-style: dotted;
	}
	
	&:before {
		counter-increment: footnotesid;
		content: '[' counter(footnotesid) ']';
	}
}

.footnote-box {
	background: #EEEEFF;
	border: 1px solid;
	box-shadow: 1px 1px 2px black;
	max-width: 500px;
	min-width: 17em;
	padding: 3px 10px 7px 5px;
	font-size: .9em;
	word-wrap: break-word;
	line-height: 1em;
	overflow: auto;
	margin: 0;
	inset: auto;
	top: calc(anchor(bottom) + 2px);
	left: calc(anchor(left));
	justify-self: anchor-center;
}
