html {
	font-family: Roboto, "Segoe UI", tahoma, arial, sans-serif;
	font-size: 11pt;
	background-color: #F9E3F9;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}


div.content {
	margin-top: 30px;
	padding: 30px 10%;
	background-color: #F9E3F9;
	height: auto;
}

div.content > div {
	background: #FCFCFF;
	padding: 30px 10%;
	box-shadow: 3px 3px 4px black;
	border: 1px solid black;
	border-radius: 20px;
}

div.content > div {
	background: #FCFCFF;
	padding: 30px 10%;
	box-shadow: 3px 3px 4px black;
	border: 1px solid black;
	border-radius: 20px;
}

a {
	text-decoration: none;
	color: #44D;
}

a:hover {
	text-decoration: underline;
	color: #FFC300;
}

a.headerLink {
	opacity: .5;
	font-size: 80%;
	padding-left: 5px;
	font-weight: normal;
}

dfn {
	font-style: normal;
}

dt {
	font-weight: bold;
}

:target:before {
	content: '';
	padding-top: 40px;
	margin-top: -40px;
	display: block;
}

::selection {
	background: #88F;
	color: #FCFCFF;
}

div.clear {
	clear: both;
}

div.center {
	margin: auto;
	text-align: center;
}

li > p {
	margin-block-start: 0;
	margin-block-end: 0;
}

div.content h1 {
	font-size: 300%;
	position: relative;
	left: -50px;
	border-bottom: 3px solid;
	padding-left: 10px;
	clear: both;
}

table > thead th {
	background: #B0B0FF;
	padding: 2px;
	text-align: center;
}

table > tbody th {
	padding: 2px 5px;
	background: #E0E0FF;
	text-align: inherit;
}

table {
	min-width: 40%;
	border: 1px solid #CCCCFF;
	box-shadow: 3px 3px 3px #606060;
	background: #EEEEFF;
	padding: 2px 1px;
	font-size: 90%;
}

td, th {
	box-shadow: 2px 2px 1px #BBBBDD;
}

div.content h2 {
	font-size: 190%;
	position: relative;
	left: -30px;
	border-bottom: 1px solid;
	padding-left: 10px;
	width: 85%;
	clear: both;
}

div.content h3 {
	font-size: 130%;
	position: relative;
	left: -20px;
	border-bottom: 1px solid #888888;
	padding-left: 10px;
	width: 70%;
	clear: both;
}

div.content h4 {
	font-size: 115%;
	position: relative;
	left: -10px;
	border-bottom: 1px solid #A8A8A8;
	padding-left: 8px;
	width: 60%;
	clear: both;
}

blockquote {
	font-style: italic;
}

blockquote:before,
blockquote:after {
	content: "\""
}

.float-right {
	float: right;
}

/* hack formatting */
code {
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: 91%;
	line-height: 0;
}

code.opcode {
	color: #0000CC;
}

code.address {
	color: #C93858;
}

code.label {
	color: #C03200;
}

code.number,
code.value {
	color: #444499;
}

code.register {
	color: #0C9200;
}

code.routine {
	color: #6E1BBB;
}

code.addrsize {
	font-size: 85%;
	color: #444444;
	vertical-align: bottom;
}

code.mathVar,
code.mathFunc,
code.mathAns {
	font-size: 95%;
	line-height: 80%;
	letter-spacing: -.05em;
	font-style: italic;
}

code.mathFunc {
	border-radius: 5px;
	white-space: nowrap;
	padding: 0 6px;
}

code.mathVar {
	color: #1936EA;
	font-weight: bold;
}

code.mathAns {
	color: #B5370B;
	font-weight: bold;
}



/* tables */
table.shrunktable {
	min-width: 10%;
}

table.centertable {
	margin: 0 auto;
}

table.tablefloatright {
	float: right;
}

table.align-right {
	text-align: right;
}

table.align1right tr > td:nth-child(1) {
	text-align: right;
}

table.align3right tr > td:nth-child(3) {
	text-align: right;
}

table.align4right tr > td:nth-child(4) {
	text-align: right;
}

table.align6right tr > td:nth-child(6) {
	text-align: right;
}

td {
	padding: 2px 5px;
}

tr.header th {
	text-align: center;
}

.nostripes > tbody > tr > th,
tbody > tr:nth-child(odd):not(.header) th {
	background: #D0D0FF;
}

.nostripes > tbody > tr,
tbody > tr:nth-child(even) {
	background: #FFFFFF;
}

tr.header th:not(.divider) {
	background:#adadfd;
}

th.divider {
	width: 10px;
	box-shadow: none;
	background: transparent;
}

th.number,
td.number {
	text-align: right;
}

td.dead {
	opacity: 0.4;
}

span.disgusting {
	color: green;
	font-weight: bold;
	font-style: oblique;
	font-variant: small-caps;
	text-decoration: underline;
	text-decoration-style: wavy;
}

/* Backgrounds */
html,
div.content {
	background-attachment: fixed;
}

.glitchybg {
	background-image: url('bg/vramcorruption.png');
	background-blend-mode: color-burn;
	background-size: contain;
	image-rendering: pixelated;
}

.mechanicsbg {
	background-image: url('bg/bank07code.png'), linear-gradient(to bottom, #CCCCFF, #777799);
	background-repeat: repeat, repeat;
	image-rendering: pixelated;
	background-attachment: fixed, scroll !important;
	background-position: left, center;
	background-blend-mode: multiply;
}

.houlihanbg {
	background-image: url('bg/houlihanbg.png');
	background-blend-mode: hard-light;
	image-rendering: pixelated;
}

div.hackTitle {
	width: 100%;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 20% center;
}

.rupeegreen {
	background: repeating-linear-gradient(to bottom, #489030 24%, #98D070 37%, #489030 42%);
	background-blend-mode: luminosity
}

div.hackTitle.rupeegreentitle {
	background-image: url('/assets/bg/rupeegreen.png'), linear-gradient(to right, transparent 5%, #489030 8%, #489030 60%, transparent);
	border-radius: 0px 30px 30px 0px;
}

/* Header */
nav.sitenav {
	position: fixed;
	box-shadow: 0 0 20px;
	z-index: 9999999;
}

footer {
	box-shadow: 0 0 20px;
	z-index: 9999999;
}

nav.sitenav,
footer {
	display: block;
	background: #CCCCFF;
	height: 30px;
	padding: 10px 40px 0 40px;
	left: 0;
	right: 0;
	top: 0;
	font-weight: bold;
	font-family: tahoma, geneva, sans-serif;
}

nav > div {
	display: inline-block;
}

footer > div {
	margin: 0 auto;
	text-align: center;
}

footer > div > ul,
nav > div > ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0
}

footer > div > ul > li,
nav > div > ul > li {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

footer > div > ul > li > ul,
nav > div > ul > li > ul {
	position: absolute;
	background: #CCCCFF;
	display: none;
	list-style: none;
	border-radius: 0 0 10px 10px;
}

nav > div > ul > li > a + ul {
	margin-top: 3px;
}

nav > div > ul > li:hover > ul {
	display: block;
}

nav ul {
	padding: 0;
}

footer > div > ul > li:hover,
nav > div > ul > li:hover {
	background: #AAAADD;
}

footer > div > ul > li > ul > li,
nav > div > ul > li > ul > li {
	border-top: 1px solid;
	border-radius: 0 10px 10px;
}

nav span.dropdown {
	cursor: default;
}

footer a,
footer a:visited,
nav span.dropdown,
nav a:visited,
nav a {
	margin: 0;
	text-decoration: none;
	font-size: 13pt;
	color: #222266;
	padding: 3px 8px;
}

nav span.dropdown {
	display: block;
}

footer a,
nav > div > ul > li > ul > li > a {
	display: block;
	font-size: 10.5pt;
}

nav span.dropdown,
nav > div > ul > li > a:not(:only-child) {
	border-radius: 10px 10px 0 0 ;
}

nav > div > ul > li > ul > li:not(:last-child) > a {
	border-radius: 0 10px;
}

nav > div > ul > li > ul > li:last-child > a {
	border-radius: 0 10px 10px;
}

nav > div.metaLinks a,
nav > div.Home a,
nav > div > ul > li,
nav > div > ul > li > a:only-child {
	border-radius: 10px;
}

footer a:hover,
nav span.dropdown:hover,
nav a:hover {
	color: #FCFCFF;
	background: #5555FF;
	text-decoration: none;
}

nav span.dropdown:hover,
nav a:hover {
	transition: background .4s ease 0s;
	transition-property: color, background;
}

div.Links {
	float: right;
}

div.metaLinks {
	display: inline-block;
	font-variant: small-caps;
}

div.metaLinks a {
	font-size: 85%;
	padding: 3px 5px;
}

.glitchclasslist > li.hassublist {
	position: relative;
}

.glitchclasslist > li.hassublist ul {
	height: auto;
	max-height: 0px;
	transition: max-height 1s linear;
	overflow-y: hidden;
	position: absolute;
	background: #FFF;
	box-shadow: 1px 1px 2px;
	z-index: 1000;
	padding: 0 20px 0 40px;
}

.glitchclasslist > li.hassublist:after {
	content: ' ';
	height: 0px;
	border:5px solid transparent;
	border-top-color: black;
	display: inline-block;
	vertical-align: text-bottom;
}

.glitchclasslist >li.hassublist:hover::after {
	border-top-color: transparent;
	border-bottom-color: blue;
}

.glitchclasslist >li.hassublist:hover ul {
	display: block;
	overflow-y: hidden;
	max-height: 200px;
	height: auto;
	transition: max-height 1s linear;
}

.dossier {
	font-family: Courier prime, inherit;
	color: #303030;
	filter: grayscale(30%);
}

.dossier .contentstuff {
	border-radius: 0px;
	background-image: repeating-linear-gradient(40deg, #F8F8F8 5%, #FFFFFF 40%, #F8F8F8 57%);
}