strong.verdict {
	display: block;
}

dl.proseList dt:before {
	content: '';
	margin-top: 10px;
	display: block;
}

dl.proseList dt {
	display: inline;
	font-weight: bold;
}

dl.proseList dd {
	display: contents;
}

ul.postlist {
	list-style: square;
}

ul.postlist li .date {
	font-size: 80%;
	vertical-align: bottom;
	font-variant: small-caps;
}

ul.postlist a {
	font-size: 110%;
}

div.content > div.lesspadding {
	padding: 30px 4%;
}

div.content > p {
	padding-right: 10%;
}

span.snark {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* SNES assembly code formatting */
/* avoid code tag */
/* only a small thing in lttprng.html uses this */
code.snesasm {
	white-space: pre;
	font-size: 80%;
	position: relative;
	line-height: 20px;
}

div.asmlist {
	counter-reset: asmline;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .75em;
	line-height: 1.3em;
	background: #F8F8FF;
	position: relative;

	&:not(.asmlist-haslabels) > div > .asmline-label {
		opacity: 0;
		width: 5em;
	}

	&:not(.asmlist-hasaddresses) > div > .asmline-address {
		display: none;
	}

	&.asmlist-hasaddresses {
		&.asmlist-sfccode > div > .asmline-address {
			width: 3.6em;
		}

		&.asmlist-nescode > div > .asmline-address {
			width: 2.5em;
		}
	
		&:not(.asmlist-haslabels) > div > .asmline-label {
			display: none;
		}
	}

	&:not(.asmlist-hasmcode) > div > .asmline-mcode {
		display: none;
	}

	& >.asmrowsep {
		border-bottom: 5px solid #E0E0FF;
	}

	& > .asmrow {
		display: block;
		width: 100%;
		position: relative;

		&:nth-child(2n) {
			background: #F0F0FF;
		}

		& > div {
			display: inline-block;
			overflow-x: visible;
			white-space: nowrap;
			background: inherit;
		}

		&:hover:after,
		&.asmrow-highlighted:before {
			content:'\00A0';
			display: inline-block;
			position: absolute;
			z-index: 2000000;
			opacity: .2;
			left: 0;
			right: 0;
			pointer-events: none;
		}

		&:hover:after {
			background: #0000FF;
		}
	
		&.asmrow-highlighted:before {
			background: #FFFF00;
		}

		.asmline-instr {
			color: #0F0F0F;
			width: 20em;
			margin-left: 3px;
		}

		&.asmrow-label {
			font-weight: bold;
			border-bottom: 1px solid;
			padding-left: 5px;
		}

		&>.asmline-label {
			text-align: right;
			padding-right: 3px;
			width: 10em;

			&:not(:empty) {
				color: #EEEEFF;
				background: #7777FF;
			}
		}

		&>.asmline-address {
			color: #5555BB;
			background: #DDDDFF;
			text-align: center;
			padding: 0 3px;
		}

		&>.asmline-comment {
			color: #229922;
		}

		&>.asmline-mcode {
			color: #555577;
			background: #BEBEDD;
			width: 7em;
			padding-left: 4px;
		}
	}
}

/* tables */
table > caption:not(.footnotes) {
	font-weight: bold;
	text-align: left;
	padding: 2px 5px 2px 10px;
	background: #DDDDFF;
	border: inherit;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	width: 40%;
	white-space: nowrap;
}

table.smalltable {
	min-width: 20%;
}

td.givesitem {
	background: #4466FF;
}

td.noitem {
	background: #CCCCCC;
}

td.givesitem,
td.noitem {
	opacity: .8;
}

table.dungeonitemgive td:nth-child(18),
table.dungeoncrystalgive td:nth-child(10) {
	text-align:left;
}

th.value,
td.value {
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: 90%;
	color: #4040C0
}

td.badsubclass {
	background: #ff0000AA;
}

span.damage-subclass {
	display: block;
}

th.vert-text {
	vertical-align: middle;
	font-size: 80%;
	padding: 3px 5px;
	white-space: nowrap;

}

.stickyrow th {
	position: sticky;
	top: 43px;
	z-index: 9999;
}

/* Misc */
span.wrong,
q.wrong {
	font-style: italic;
	color: #8A2D2D;
}

strong.wrong {
	text-decoration: underline;
	color: red;
}

.wtf {
	display: inline-block;
	color: red;
	transform: skewX(-20deg) rotate(-2deg);
}

.wtf:hover {
	transform: none;
}

span.evil {
	font-family: comic sans ms;
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 3px #FF9999;
}

span.poof {
	color: #FF00FF;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase
}

/* SMT stuff */
div.smtasm {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	columns: 2;
	font-weight: bold;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .8em;
	line-height: 1.3em;
	background: #000000;
	color: #F8F8F8;
	width:85%;
	padding:20px;
	grid-template-columns: 50% 50%;
}

div.smtasm > div {
	display: inline-block;
	overflow-x: visible;
	white-space: nowrap;
	margin-left: 60px;
}

div.smtasm > div.label {
	margin-left: 0px;
}

div.smtasm > div.sep,
div.smtasm > div.chant {
	grid-column-start: span 2;
	display: inline-block;
	min-height: 1em;
}

.smtbg {
	background-color: black !important;
	background-image: radial-gradient(black 60%, #630063 67%, #2184E7 77%, #630063 81%, black);
}


/* Hitboxes page */
table.hitboxvisual th.idheader {
	vertical-align: middle;
	font-size: 150%;
	font-family: 'Roboto Mono', consolas, monospace;
	padding: 0 10px;
}

table.hitboxvisual .hboxcell {
	zoom: 200%;
	width: 200px;
	padding: 10px;
}

table.hitboxvisual div.hboxcontainer {
	position: relative;
	left: 0px;
	top: 0px;
	width: 1px;
	height: 1px;
	z-index: 1;
	margin: 30px 30px 30px;
}

table.hitboxvisual div.hboxoutline {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 16px;
	height: 16px;
	outline: 1px solid #FF0000;
	background-image: url("/assets/cucco.png");
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

table.hitboxvisual div.hboxbounds {
	position: relative;
	float: left;
	background: rgba(0, 0, 256, .4);
	z-index: 3;
}


table.hitboxvisual div.hboxbounds:after {
	display: block;
	position: relative;
	left: 1px;
	top: 1px;
	content: ' ';
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	outline: 1px solid rgba(0, 0, 256, .6);
	z-index: 4;
}




div.chestrock {
	background-image: url("/assets/explication/chest_rocks.png");
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	zoom: 200%;
}
