strong.verdict {
	display: block;
}

dl.proseList dt:before {
	content: '';
	margin-top: 10px;
	display: block;
}

dl.proseList dt {
	display: inline;
	font-weight: bold;
}

dl.proseList dd {
	display: contents;
}

ul.postlist {
	list-style: square;
}

ul.postlist li .date {
	font-size: 80%;
	vertical-align: bottom;
	font-variant: small-caps;
}

ul.postlist a {
	font-size: 110%;
}

div.content > div.lesspadding {
	padding: 30px 4%;
}

div.content > p {
	padding-right: 10%;
}

span.snark {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* SNES assembly code formatting */
/* avoid code tag */
/* only a small thing in lttprng.html uses this */
code.snesasm {
	white-space: pre;
	font-size: 80%;
	position: relative;
	line-height: 20px;
}

div.snesasm {
	counter-reset: asmline;
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	columns: 5;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .85em;
	line-height: 1.3em;
	background: #F8F8FF;
}

div.snesasm:not(.nolabel) {
	grid-template-columns: 22% 33% auto;
}

div.snesasm.nolabel {
	grid-template-columns: 10% 40% auto;
}

div.snesasm > div {
	display: inline-block;
	padding-left: 5px;
	overflow-x: visible;
	white-space: nowrap;
}

div.snesasm > span {
	grid-column-start: span 3;
	display: inline-block;
	min-height: 1em;
	padding-left: 5px;
	text-indent: 20px;
	background:#E8E8F8;
}

div.snesasm > div:nth-of-type(3n+1) {
	text-align: right;
}

div.snesasm > div:nth-of-type(3n+1):before {
	counter-increment: asmline;
	content: counter(asmline);
}

div.snesasm > div:nth-of-type(3n+1):before,
div.snesasm > span:before {
	text-align: right;
	float: left;
	display: block;
	width: 3em;
	padding-right: 5px;
	border-right: 3px solid #666666;
	background: #898989;
	color: white;
	margin: 0;
}

div.snesasm > span:before {
	content: '.';
	display: block;
	color: transparent;
}

div.snesasm:not(.noaddress) > div:nth-of-type(3n+2):before {
	content: attr(addr);
	margin-right: 20px;
	display: inline-block;
	padding: 0 3px;
	background: #DDDDFF;
}

div.snesasm > div:nth-of-type(3n+1):not(:empty) {
	color: white;
	background: #7777FF;
}

div.snesasm > div:nth-of-type(3n+1)[dasm]:after {
	content: attr(dasm);
	padding: 0 3px;
	display: inline-block;
	margin-left: 4px;
	text-align: right;
	background: #60608F;
	color: #F9F9F9;
}

div.snesasm > div:nth-of-type(6n+1):not(:empty) {
	color: white;
	background: #4477FF;
	padding-right: 5px;
}

div.snesasm > div:nth-of-type(3n+1) {
	padding-right: 5px;
}

div.snesasm > div:nth-of-type(3n+2) {
	z-index: 20000;
}

div.snesasm > div:nth-of-type(3n+3) {
	color: #339933;
}

div.snesasm > div:nth-of-type(6n+1),
div.snesasm > div:nth-of-type(6n+2),
div.snesasm > div:nth-of-type(6n+3) {
	background: #F0F0FF;
}

/* tables */
table > caption:not(.footnotes) {
	font-weight: bold;
	text-align: left;
	padding: 2px 5px 2px 10px;
	background: #DDDDFF;
	border: inherit;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	width: 40%;
	white-space: nowrap;
}

table.smalltable {
	min-width: 20%;
}

td.givesitem {
	background: #4466FF;
}

td.noitem {
	background: #CCCCCC;
}

td.givesitem,
td.noitem {
	opacity: .8;
}

table.dungeonitemgive td:nth-child(18),
table.dungeoncrystalgive td:nth-child(10) {
	text-align:left;
}

th.value,
td.value {
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: 90%;
	color: #4040C0
}

td.badsubclass {
	background: #ff0000AA;
}

span.damage-subclass {
	display: block;
}

th.vert-text {
	vertical-align: middle;
	font-size: 80%;
	padding: 3px 5px;
	white-space: nowrap;

}

.stickyrow th {
	position: sticky;
	top: 43px;
	z-index: 9999;
}

/* Misc */
span.wrong,
q.wrong {
	font-style: italic;
	color: #8A2D2D;
}

strong.wrong {
	text-decoration: underline;
	color: red;
}

.wtf {
	display: inline-block;
	color: red;
	transform: skewX(-20deg) rotate(-2deg);
}

.wtf:hover {
	transform: none;
}

span.evil {
	font-family: comic sans ms;
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 3px #FF9999;
}

[href="#bigmfloop"] {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 1000;
}

[href="#bigmfloop"]:hover {
	transform: scale(1.4);
	background: #FCFCFF;
}

#bigloop { 
	display: none;
}

#bigloop:target { 
	display: block;
	font-weight: bold;
}

span.timeampm {
	font-variant:small-caps;
}

span.poof {
	color: #FF00FF;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase
}

p.damagepad {
	padding: 0 80px 0 40px;
}

/* Linking to previous terms */
a.term,
a.term:visited,
a.branch,
a.branch:visited {
	color: #5708c7;
}

a.term:hover,
a.branch:hover {
	color: #cca350;
}

li.branchpoint:target,
span.dfnwrap:target > dfn {
	background: linear-gradient(to bottom, transparent, 40px, #FFFF8B, 40px, #FFFF8B);
}

/* SMT stuff */
div.smtasm {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	columns: 2;
	font-weight: bold;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .8em;
	line-height: 1.3em;
	background: #000000;
	color: #F8F8F8;
	width:85%;
	padding:20px;
	grid-template-columns: 50% 50%;
}

div.smtasm > div {
	display: inline-block;
	overflow-x: visible;
	white-space: nowrap;
	margin-left: 60px;
}

div.smtasm > div.label {
	margin-left: 0px;
}

div.smtasm > div.sep,
div.smtasm > div.chant {
	grid-column-start: span 2;
	display: inline-block;
	min-height: 1em;
}

.smtbg {
	background-color:black !important;
	background-image: radial-gradient(black 60%, #630063 67%, #2184E7 77%, #630063 81%, black);
}