strong.verdict {
	display: block;
}

dl.proseList {
	dt {
		display: inline;
		font-weight: bold;

		&:before {
			content: '';
			margin-top: 10px;
			display: block;
		}
	}

	dd {
		display: contents;
	}
}

ul.postlist {
	list-style: square;

	li .date {
		font-size: 80%;
		vertical-align: bottom;
		font-variant: small-caps;
	}

	a {
		font-size: 110%;
	}
}

div.content > div.lesspadding {
	padding: 30px 4%;
}

div.content > p {
	padding-right: 10%;
}

span.snark {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* SNES assembly code formatting */
/* avoid code tag */
/* only a small thing in lttprng.html uses this */
code.snesasm {
	white-space: pre;
	font-size: 80%;
	position: relative;
	line-height: 20px;
}

div.asmlist {
	counter-reset: asmline;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .75em;
	line-height: 1.3em;
	background: #F8F8FF;
	position: relative;
	box-shadow: 2px 2px 2px #565699;

	&:not(.asmlist-haslabels) > .asmline-label {
		opacity: 0;
		width: 5em;
	}

	&:not(.asmlist-hasaddresses) .asmline-address {
		display: none;
	}

	&.asmlist-hasaddresses {
		&.asmlist-sfccode .asmline-address {
			width: 3.6em;
		}

		&.asmlist-nescode .asmline-address {
			width: 2.5em;
		}

		&:not(.asmlist-haslabels) .asmline-label {
			display: none;
		}
	}

	&:not(.asmlist-hasmcode) .asmline-mcode {
		display: none;
	}
}

.asmrowsep {
	border-bottom: 5px solid #E0E0FF;
}

.asmrow-label {
	display: block;
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid black;
	text-indent: 5px;
	background: #5656EE;
	color: white;
}

.asmrow {
	display: block;
	width: 100%;
	position: relative;

	&:nth-child(2n):not(.asmrow-highlighted) {
		background: #F0F0FF;
	}

	> div {
		display: inline-block;
		overflow-x: visible;
		white-space: nowrap;
	}

	&:hover:after,
	&.asmrow-highlighted:before {
		content:'\00A0';
		display: inline-block;
		position: absolute;
		z-index: 2000000;
		left: 0;
		right: 0;
		pointer-events: none;
	}

	&:hover:after {
		background: #3333FF22;
	}

	&.asmrow-highlighted:before {
		background: #0055EE33;
		border-left: 1em solid #9955EE;
		left: -1em;
	}
}

.asmline-label {
	text-align: right;
	padding-right: 3px;
	width: 10em;
	color: #EEEEFF;

	&:not(:empty) {
		background: #7777FF;
	}
}

.asmline-address {
	color: #5555BB;
	background: #DDDDFF;
	text-align: center;
	padding: 0 3px;
}

.asmline-mcode {
	color: #555577;
	background: #BEBEDD;
	width: 7em;
	padding-left: 4px;
}

.asmline-instr {
	color: #0F0F0F;
	width: 20em;
	margin-left: 3px;
}

.asmline-comment {
	color: #229922;
	font-style: italic;
}

.asmline-interjection {
	padding-left: 3em;
	font-style: italic;
	background: #DDFFDD;
	color: #229922;
}

.asmline-op {
	color: #0000CC;
}

.asmline-operand-immediate {
	color: #FF580E;
}

.asmline-operand-a {
	color: #7733FF;
	font-style: italic;
}

.asmline-indexer {
	color: #000000;
}

.asmline-operand-address {
	color: #D91280;
}

.asmline-operand-label,
.asmline-operand-sublabel {
	color: #2F0056;
}


.asmline-sublabel,
.asmline-operand-sublabel {
	font-style: italic;
}

/* tables */

table.smalltable {
	min-width: 20%;
}

td.givesitem {
	background: #4466FF;
}

td.noitem {
	background: #CCCCCC;
}

td.givesitem,
td.noitem {
	opacity: .8;
}

table.dungeonitemgive td:nth-child(18),
table.dungeoncrystalgive td:nth-child(10) {
	text-align:left;
}

th.value,
td.value {
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: 90%;
	color: #4040C0
}

td.badsubclass {
	background: #FF0000AA;
}

span.damage-subclass {
	display: block;
}

th.vert-text {
	vertical-align: middle;
	font-size: 80%;
	padding: 3px 5px;
	white-space: nowrap;
}

.stickyrow th {
	position: sticky;
	top: 43px;
	z-index: 9999;
}

/* Misc */
span.wrong,
q.wrong {
	font-style: italic;
	color: #8A2D2D;
}

strong.wrong {
	text-decoration: underline;
	color: red;
}

.wtf {
	display: inline-block;
	color: red;
	transform: skewX(-20deg) rotate(-2deg);
	&:hover {
		animation-name: freakout;
		animation-duration: .2s;
		animation-iteration-count: infinite;
	}
}

@keyframes freakout {
	0% { transform: skewX(-20deg) rotate(-2deg); }
	50% { transform: skewX(20deg) rotate(10deg); }
	100% { transform: skewX(-20deg) rotate(-2deg); }
}


span.evil {
	font-family: comic sans ms;
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 3px #FF9999;
}

span.poof {
	color: #FF00FF;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase
}

table.disassembly [rowspan] {
	vertical-align: top;
}

/* SMT stuff */
div.smtasm {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	columns: 2;
	font-weight: bold;
	font-family: 'Roboto Mono', consolas, monospace;
	font-size: .8em;
	line-height: 1.3em;
	background: #000000;
	color: #F8F8F8;
	width:85%;
	padding:20px;
	grid-template-columns: 50% 50%;

	> div {
		display: inline-block;
		overflow-x: visible;
		white-space: nowrap;
		margin-left: 60px;

		&.label {
			margin-left: 0px;
		}

		&.chant,
		&.sep {
			grid-column-start: span 2;
			display: inline-block;
			min-height: 1em;
		}
	}
}


/* Hitboxes page */
table.hitboxvisual
	.hboxcell {
		zoom: 200%;
		width: 200px;
		padding: 10px;
	}

	th.idheader {
		vertical-align: middle;
		font-size: 150%;
		font-family: 'Roboto Mono', consolas, monospace;
		padding: 0 10px;
	}
}

div.hboxcontainer {
	position: relative;
	left: 0px;
	top: 0px;
	width: 1px;
	height: 1px;
	z-index: 1;
	margin: 30px 30px 30px;
}

div.hboxoutline {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 16px;
	height: 16px;
	outline: 1px solid #FF0000;
	background-image: url("/assets/cucco.png");
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

div.hboxbounds {
	position: relative;
	float: left;
	background: rgba(0, 0, 256, .4);
	z-index: 3;

	&:after {
		display: block;
		position: relative;
		left: 1px;
		top: 1px;
		content: ' ';
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		outline: 1px solid rgba(0, 0, 256, .6);
		z-index: 4;
	}
}

div.chestrock {
	background-image: url("/assets/explication/chest_rocks.png");
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	zoom: 200%;
}

table.skulldoorstable {
	margin: 0 auto;
	width: 90%;

	.doorheader {
		text-align: center;
		background: #7777EE;
		font-size: 170%;
		padding: .5em 0;
	}

	.tablewritesrow > th,
	.tilemapsep {
		text-align: center;
		background: #9999EE;
	}

	.damageheader {
		text-align: right;
	}

	.subclassrow {
		> .subclassheader {
			text-align: right;
		}

		> th.zerodamage {
			background: #BCBCBC;
			color: #989898;
		}

		> th:not(:first-child):not(.subclassheader) {
			text-align: center;
			width: 6em;
		} 
	}

	.damagerow {
		> td {
			background: white;

			&.zerodamage {
				background: #D8D8D8;
				color: #989898;
			}
		}

		> th:first-of-type {
			text-align: right;
		}

		> td:nth-child(2n){
			text-align: right;
		}

		> td:nth-child(2n+1){
			text-align: left;
		}
	}
}
