---
permalink: /lonk/
layout: default
title: "Lonk"
background: glitchybg
---

<h1>Lonk</h1>
<p>We all know what superbunny is. I hope. Lonk is the exact opposite. Two separate addresses help control Link's general state (actually like 300, but we're looking at 2). Address <addr>$5D</addr> is Link's general state handler. Address <addr>$02E0</addr> is a graphics flag.</p>
<p>In the superbunny state, <addr>$02E0</addr> has a value of <asmval>1</asmval>, signalling bunny graphics, but <addr>$5D</addr> has a value of <asmval>$00</asmval>, which indicates Link is in his default, human state. Anything that looks at <addr>$02E0</addr> for the bunny (such as using items), will believe that Link is a bunny. But anything using <addr>$5D</addr> (such as the general routine handler that handles <span class="snesbutton snesA">A</span> and <span class="snesbutton snesB">B</span> inputs) will think he's human.</p>
<p>For Lonk, it's the opposite. <addr>$02E0</addr> is <asmval>0</asmval>, signalling human form, but <addr>$5D</addr> is <asmval>$17</asmval>, which means Link is a bunny.</p>

<h2>Underworld</h2>
<p>To understand how Lonk can trigger when entering the underworld, we need to look at a simple routine that gets run when loading the underworld:</p>

{% include asmheader labels=true addresses="snes" %}
{% include asmfunclabel label="CheckIfBunny" %}
{% include asmline addr="1CFCE2" code="LDA.b $5D" comment="Check primary state handler" %}
{% include asmline addr="1CFCE4" code="CMP.b #$02" comment="Is Link recoiling?" %}
{% include asmline addr="1CFCE6" code="BNE .exit" comment="If not, just leave" %}
{% include asmline addr="1CFCE8" code="LDY.b #$00" comment="$00 indicates default state" %}
{% include asmline addr="1CFCEA" code="LDA,w $02E0" comment="Check graphics flag" highlight=true %}
{% include asmline addr="1CFCEC" code="BEQ .set" comment="If human, set $5D to $00" %}
{% include asmline addr="1CFCEE" code="LDY.b #$17" comment="$17 indicates bunny state" %}
{% include asmline addr="1CFCF0" code="LDA.l $7EF357" comment="Check for pearl" %}
{% include asmline addr="1CFCF4" code="BEQ .set" comment="If no pearl, $5D to $17" %}
{% include asmline addr="1CFCF6" code="LDY.b #$1C" comment="$1C indicates temporary bunny" %}
{% include asmline label=".set" addr="1CFCF8" code="STY.b $5D" comment="Set primary state handler" %}
{% include asmline label=".exit" addr="1CFCFA" code="RTL" %}
{% include asmfooter %}

<p>EXCEPT I LIED!!!!</p>
<p>See that highlighted code? That's what they <em>intended</em> to do, and that's what's executed in the US version, but in JP1.0, this is what actually happens:</p>

{% include asmheader labels=true addresses="snes" %}
{% include asmline addr="1CFCEA" code="LDA.b $02E0" comment="Check the camera" %}
{% include asmfooter %}

<p>They assembled it wrong. Instead of reading the 16-bit address for Link's graphics, the addressing mode used was direct page, an 8-bit address. Their source code probably had the correct address, but a stray symbol must have caused it to discard the high byte. It just so happens that the low byte of the intended address is the address for the low byte of the BG1 horizontal scroll.</p>
<p>By the time this check is performed, the entrance's properties have been loaded. Thus, the camera properties being looked at are for the landing point of the entrance. As long as the camera's low byte is <em>not</em> 0, then damage boosting into an entrance will put Link in Lonk state when he doesn't have the moon pearl. In practice, this means that Lonk can only be triggered if the entrance is in the middle of the room.</p>

<h2>Misbehavior</h2>
<p>The state mismatch between the two addresses I originally described (<addr>$5D</addr> and <addr>$02E0</addr>) is all you really need to understand the majority of this glitch. Lonk's walk's wonk is due to a shorter animation cycle from <addr>$5D</addr> being <asmval>$17</asmval> for bunny. Sword and boots are inhibited by that as well. Items, on the other hand, are looking at <addr>$02E0</addr>. Why? The bunny is allowed to use bottles, so the general state handler can't be used to&mdash;well, I guess it could&hellip;? That's just not the way they coded it.</p>
<p>Pretty much everything related to both Lonk and Superbunny boil down to which address the developers decided to check for bunny status. Some of these decisions may have been to facilitate the logic when taking temporary bunny into account, but all we can really do is guess.</p>

<h2>Other triggers</h2>
<p>Other methods of triggering Lonk are fairly straightforward. There is no complexity beyond <em>one of the values was set out of sync</em>.</p>
<p>For whatever reason, the pond code uses the routine at <addr>$07:F18C</addr> to aggressively reset a number of addresses. So aggressive, in fact, that 4 different addresses are reset <em>twice</em>. The only relevant address <em>not</em> reset is <addr>$5D</addr>, so it will remain as whatever it was. If that value was <asmval>$17</asmval>, then we end up as Lonk.</p>

<p>After doing an overworld bunny revival, Link is in a completely normal state, except for address <addr>$56</addr>. This address is normally kept in sync with <addr>$02E0</addr>, but not always. In the case of fairy revival above water, it is never checked. Nor is it cleared. To show Link spinning around properly, <addr>$02E0</addr> is set to <asmval>0</asmval> by the revival code. Recovering that value only occurs if <addr>$56</addr> is nonzero, but that check is skipped when Link is revived above water. Curiously, <addr>$56</addr> is also the address checked when Link is kicked out of the water for not having flippers. Because it is out of sync with <addr>$02E0</addr> and doesn't attempt to resync at any point, this routine results in a bunny-revived Link entering the bunny state, with no change to his graphics.</p>

<p>The hookshot disables Lonk because it actually puts Link into a special state, setting <addr>$5D</addr> to <asmval>$13</asmval>. When that's over, the address is reset to <asmval>0</asmval>, because it was assumed that the hookshot could only be used in the default state.</p>

<h2>Summary</h2>
<p>A disagreement between two addresses&mdash;<addr>$5D</addr> and <addr>$02E0</addr>&mdash;is the cause of all weird Lonk behavior. Taking damage into an overworld&ndash;underworld transition causes Link's general state handler (<addr>$5D</addr>) to either be put into temporary bunny (with the moon pearl), or permabunny (without) when the entrance leads to the center of a room. The damage in an entrance version is a JP1.0 glitch caused by an erroneously assembled instruction.</p>
