---
permalink: /WESTSOMARIA/
layout: default
title: "West Somaria Explication"
background: glitchybg
ogdesc: "Learn how exactly pushing a block in a door breaks the game and why doing it to the left is different. Then read why this can open doors, freeze the game, and even make guards immune to arrows."
---

<h1>WEST SOMARIAS</h1>

<p>If you've ever seen me talk, you've probably seen me say "west somaria" (possibly in ALL CAPS). That's because I'm always excited about them. They open doors! Sweet! West somarias are nowhere near as damaging as the other directions, but they are way cooler.</p>

<h2>The culprit you least expect</h2>

<p>West somarias don't just magically open doors (actually, I guess they kinda do). What they're really doing is corrupting the game submodule (<asmvar>SUBMODE</asmvar>) held in address <addr>$11</addr>. This is caused by double triggering the door transition, which is changed with an increment instead of directly setting it to some value.</p>

<p>Why does pushing a block in a door cause a double transition? When you first move, you are hitting the transition like normal. Pressing a parallel direction puts Link back in door state which then allows door transition detection code to run. This is a normal subtask that occurs as part of the camera update routine run every frame. But somaria blocks are special. Interaction with them is handled outside of all other Link code. Seriously! Look at this:</p>

{% include asmheader addresses="snes" %}
{% include asmline addr="078019" code="JSR LinkControlHandler" comment="All other Link code" %}
{% include asmline addr="07801C" code="JSR HandleSomariaAndGraves" comment="WOW!" %}
{% include asmfooter %}

<p>That's not the cause of anything relevant to this article, though. It's just what makes the blocks special.</p>

<p>What is relevant here is that this routine calls a function for completely aborting Link's movement when he is pushed back by a somaria block. This routine cancels an active hookshot, undoes any movements Link may have made, and recalculates the camera. The camera recalculation is done with the same routine run every frame&mdash;the one that can trigger transitions in a door. During a somaria transition corruption, Link is still in a door! That means the camera runs another transition check. In other words, two transitions are being triggered: one by our everyframe duties and one by the movement abortion.</p>

<h2>Doors 101</h2>

<p>But why are west somarias special?{% include footnote content="Answer: Because I love them." %} Every other STC direction enters submodule <asmval>$03</asmval>, because they are double-hitting their transitions&mdash;an intraroom followed by an interroom, or vice versa. WEST SOMARIAS are unique in that they hit a west transition followed by an east transition. Both of these are considered an interroom transition; each double increments <asmvar>SUBMODE</asmvar>, putting it at <asmval>$04</asmval>. Less cool west somarias work the same way, but they're doing a double intraroom transition, resulting in submodule 2.</p>

<p>The reason for this difference in behavior boils down to the parameters used for detecting transitions. Each direction has its own range of coordinates where transitions can be triggered, but the logic for them is otherwise identical.</p>

<p>Address <addr>$69</addr> contains the variable <asmvar>DIFFXH</asmvar>, which stores the difference between Link's X-coordinate high byte before and after movement. This variable and its counterparts are calculated by subtracting from Link's current position his new coordinates held in <asmvar>CALCX</asmvar> and <asmvar>CALCY</asmvar>.</p>

<p>The door transition detection code exists at <addr>$07E8EA</addr>, where it begins by clearing <asmvar>DIFFYH</asmvar> and <asmvar>DIFFXH</asmvar>. It then checks the direction Link is moving and the axis of the door flag to determine which direction of transition should be attempted.</p>

<p>Next, a prospective coordinate is calculated by looking forward from Link's current position some number of pixels&mdash;18 north, 24 south, 21 east, 8 west. The high byte of this prospective coordinate then subtracts the high byte of the cached coordinate held in the respective <asmvar>CALCX/Y</asmvar> variable. The difference is stored in the respective diff variable. If this difference is zero, Link will not transition on this axis; if it's negative, Link will transition north or west; otherwise, he will transition south or east.</p>

<p>As the actual transition is performed, Link will be adjusted some number of pixels forward. West and east transitions will be adjusted forward 8 pixels; south, 16 pixels; and north will be unadjusted. For the latter 3 directions, the new position will be within the same quadrant. For west, they will be one quadrant over.</p>

<h2>CAUTION: Not for use in doors</h2>

<p>When stopping Link, the somaria code stores his coordinates (which are now the post-transition position) in <asmvar>CALCX/Y</asmvar> and pushes Link back to his coordinates from <em>the start of the frame</em>. This detail is critical. At the beginning of the frame, because of how we snap into doors for a west somaria, Link's X-coordinate ended in <asmval>$08</asmval>. When his movement was handled, he moved either 1 or 2 pixels to the west. Let's just say 2. Now his X-coordinate ends in <asmval>$06</asmval>. This occurs <em>before</em> any transition detection code. So, for the normal transition, his prospective coordinate will be in the next quadrant.</p>

<p>When pushing Link back, the somaria block doesn't just undo the adjustment done by the normal transition; it also undoes the movement effected by the player. Now Link's coordinates are back to ending in <asmval>$08</asmval>. When the abort movement transition tries to determine which direction to go, it will calculate a prospective coordinate 8 pixels to the west. That's just barely still in the same quadrant. Nothing between now and the somaria block's pushback has modified <asmvar>CALCX</asmvar>; it holds a set of coordinates that are in the quadrant to the west. <asmvar>DIFFXH</asmvar> is found to be 1&mdash;a positive number. It has been determined that Link should transition <em>east</em>.</p>

<p>Basically, the first transition is calculated normally while the second transition is done with the positions more or less swapped. This flip-flopping explains a lot about west somarias. It's why they have a stable camera. It's why they don't change the room ID. And it's why Link pops backwards after pushing the block.</p>

<p>This is a very precise glitch. When the somaria block is pushed, only 2 positions can effect a west somaria. Luckily, one of these positions happens to be exactly where Link lands during setup. If Link were on, say, an X-coordinate ending in <asmval>$06</asmval> after setup, then there would be no west somaria{% include footnote content="The mere thought of this has brought me to tears." %}. The normal transition would trigger correctly, but the abort movement transition would calculate 0 for <asmvar>DIFFXH</asmvar>. No second transition would occur.</p>

<p>So why are east somarias not experiencing the same thing? Well, that's because these transitions occur much sooner. Link's coordinates are defined as the top left of his existence, so anything checking to the right of him on screen needs to account for his width. East transitions are triggered from X-coordinates ending in <asmval>$EB</asmval> to <asmval>$EE</asmval>. Link will still be adjusted 8 pixels forwards, but, importantly, this adjustment does not push him into the next quadrant. Thus, the calculations by both the normal transition and the abort movement transition result in a positive <asmvar>DIFFXH</asmvar>.</p>

<p>East doors can also experience the null second transition. If Link attempts to push a somaria block when his X-coordinate ends in <asmval>$EA</asmval>, the block does actually run a second transition detection. But the pushback will have sent him to an X-coordinate far enough west that the prospective coordinate of that transition will remain in the same quadrant. Thus it yields 0 for <asmvar>DIFFXH</asmvar>. No extra transition.</p>

<p>And what about vertical transitions? North doors just don't adjust Link's coordinates at all. If they did, they might have experienced the same flip-floppy behavior as west doors. South transitions, like easts, occur earlier to account for Link's height and thus don't place him in the next quadrant when triggered.</p>

<h2>When is a door not a door? When it's ajar!</h2>

<p>So&hellip;summary: somaria transition corruptions occur because of the camera, and west somarias are actually west transitions combined with an east transition, because Link is fat.</p>

<p>Now it's time to see why doors open, sometimes after waiting forever. If you want to know what's happening with the other directions, you'll need to read my <a href="/overlaycorruption">Overlay corruption Explication</a>.</p>

<p>Submodule 4 is the door unlock submodule. Literally all it does is call <asmfunc>UnlockKeyDoor</asmfunc>. This routine, true to the name I gave it, animates the opening of a door and flags it as being permanently open. While the entry point is specifically for key doors, it functions just as well on any other type of door. In fact, it shares most of its code with the <asmfunc>OpenCrackedDoor</asmfunc> routine.</p>

<p><asmfunc>UnlockKeyDoor</asmfunc> requires two variables to be set upon entering: <asmvar>DOORPOS</asmvar> at <addr>$068E</addr> and <asmvar>DOORTIME</asmvar> at <addr>$0690</addr>. It goes without saying that the intended triggers for this submodule set those values ahead of time.</p>

<h2>I sword of understand</h2>

<p>The location of the door to animate is found by following a collision map position stored in <asmvar>DOORPOS</asmvar>. Any action that might cause a door to change appearance will use this variable at some point. The easiest method of setting <asmvar>DOORPOS</asmvar> is slashing a closed door. Doing so will cache its location just in case it was a vine door.</p>

<ul>Ways to set <asmvar>DOORPOS</asmvar>:
	<li>Slashing a closed door.</li>
	<li>Touching a small key door with a key.</li>
	<li>Touching a big key door.</li>
	<li>Bombing open a wall.</li>
	<li>Operating shutters.</li>
	<li>Intraroom transitions.</li>
</ul>

<p>Doors that can be opened have a tile collision type of <asmval>$Fx</asmval>, where <asmval>x</asmval> uses bits 0&ndash;2 for the door's index and bit 3 to identify whether it's the top or bottom. All other doors use a generic tile type. To find their tilemap position, <asmvar>DOORPOS</asmvar> is used to locate an entry on the collision map. The lower 3 bits of this entry can be used to index the <asmvar>DOORXTMAP</asmvar> array at <asmval>$19A0</asmval> which contains the door's base position. This allows any part of the door to correctly locate the door as a whole.</p>

<p>The shutter door opening routine also uses <asmvar>DOORPOS</asmvar>, but as a loop counter. It ends up setting it to a value of <asmval>$0016</asmval>. Shutter doors are looked for on every intraroom transition, also resulting in this value.</p>

<p>Almost invariably, <asmval>$0016</asmval> points to a tile that behaves as solid collision. In fact, only three rooms <em>don't</em> have solid collision there: Desert Palace lobby, Eastern Palace fairies, and the Hyrule Castle Dungeon catwalk. Solid collision is tile type <asmval>$01</asmval>, so basically every room will&mdash;if you have <asmval>$0016</asmval> in <asmvar>DOORPOS</asmvar>&mdash;look at door index 1. Desert Palace Lobby will use door 0, its entrance; the fairies will use door 4. The castle dungeon catwalk will also use door 4, but that door doesn't exist. This room has no doors; you can't even west somaria here{% include footnote content="Which makes this room stupid." %}.</p>

<p>The locations array is cleared every time a room is loaded, so if <asmvar>DOORPOS</asmvar> somehow finds an index for an invalid door, the game will determine it's a northwards door at the top-left of the room. Funnily though, there is also a list of valid exit doors in an array at <addr>$19E2</addr>, with each entry holding a tilemap location. Doors compare their location to each of these entries to determine whether or not they are an exit. At least one of these four entries will be <asmval>$0000</asmval>, because no room has more than 2 exits. Thus, this misplaced door is determined to be an exit, and it will behave as one. In a room with a real exit, said exit will be found and used; but, if there isn't one, the game just hardlocks in an infinite loop.</p>

<h2>Tick Tock</h2>

<p>Speaking of infinite loops!!! Let's talk about dollar six ninety.</p>

<p><asmvar>DOORTIME</asmvar> is a 16-bit timer that gets incremented every frame with each invocation of the submodule. Its value is checked for being <asmval>4</asmval>, <asmval>12</asmval>, and <asmval>16</asmval>, each marking an update to the tilemap to animate the door. In the first step, on frame 4, the collision map is updated. On the second step, the door gets flagged as opened. On the last step the new door is finalized and <asmvar>SUBMODE</asmvar> is reset to 0 for player control.</p>

<p>The increment occurs at the beginning of the routine and only ever checks for exact equality. This means that performing a west somaria with a value of <asmval>$0010</asmval> will not immediately terminate; rather, the game will wait for this timer to overflow and wrap around back to 0 before continuing as normal. That's a long time. 65520 frames, to be exact&mdash;a little over 18 minutes.</p>

<p>To bypass this, we can perform and avoid specific actions to carefully manipulate <asmvar>DOORTIME</asmvar> and keep it low enough for practical use:</p>

<ul>
	<li>A console reset will set the timer to 0 as it clears all of memory.</li>
	<li>Opening a small key door, big key door, or broken wall will end with a timer of 16.</li>
	<li>Any shutter animation will end with a timer of 16.</li>
	<li>Interroom transitions will not modify the timer. Unless there are any shutters on the side of the room Link transitions on.</li>
	<li>Intraroom transitions will end with a timer of 4. Unless there are any shutters in the room.</li>
	<li>A shutter operation that fails to find any shutter doors to animate{% include footnote content="This is literally what happens for intraroom transitions; but, because Mrs. Sahasrahlah's house has an <a href=\"/unusedeffects\">accidental room effect</a> that can trigger a blank-fire shutter check, I've included it separately to be thorough." %} will end with a timer of 4.</li>
	<li>Touching a big key door without the big key will set the timer to 0.</li>
	<li>Mirroring on the same frame that a key door is touched with a key will set the timer to 0. The key will also not be used.</li>
	<li>Setting off an exploding wall will set the timer to 0.</li>
	<li>Opening the big doors to Hyrule Castle or Sanctuary will end with a timer of 3.</li>
	<li>On the overworld, lifting big rocks or breaking bonk rocks will increment the timer by 1.</li>
	<li>Opening the grave to sewers or king's tomb or solving the hammer pegs puzzle for the first time will increment the timer by 1.</li>
</ul>

<p>Those last two items share some code with the big overworld doors, which is why they increment the timer. They never do anything with the value, though. Just be cautious to not break a bunch of rocks when manipulating this timer.</p>

<h2>Locked and loaded</h2>

<p>Shutter doors come with additional baggage. While they can flagged, double-sided shutters have to meet extra criteria to be open upon entering a room. And, though easily manipulated, single-sided shutters aren't always passable, despite being visually open.</p>

<p>First, no door in index 4 or higher can be permanently opened. Door opening is temporarily marked in the variable <asmvar>OPENED</asmvar> at <addr>$068C</addr> and permanently in <asmvar>UNLOCKED</asmvar> at <addr>$0401</addr>. While it is possible to flag any door in either of these, only 4 bits from <asmvar>UNLOCKED</asmvar> get copied to or from the save file.</p>

<p>If the variable <asmvar>SHUTTER</asmvar> at address <addr>$0468</addr> is set, the room load routines will not allow any double-sided shutter to open. Single-sided shutters are not checked for. Presumably, this is because the logic is intended for interroom transitions, and all interroom shutter doors are double-shutters by ID (the partner door for these positions is just discarded). And this is how you <em>can</em> get a double-sided shutter open: enter the room via scrolling transition from a wall that has a shutter. This will clear <asmvar>SHUTTER</asmvar>, preopening every shutter door so that they can be animated closed together.</p>

<p>The <asmfunc>OperateShutterDoors</asmfunc> routine includes a check to ignore any door flagged in <asmvar>OPENED</asmvar>; although, this only works once. Once is usually enough to reach the shutter door while it's opened, but the next time a global shutter door operation occurs, even permanently opened shutters will comply. They'll stay permanently open, though; if the room is reloaded, the beginning of this paragraph will apply again. <asmvar>UNLOCKED</asmvar> is never modified by shutter operations.</p>

<p>Double-sidedness is also why single-sided shutter doors are finicky. <asmvar>DOORXTMAP</asmvar> and other door arrays contain information in 2 halves: the true door and its partner, with the latter held 8 slots behind the former. Only the true door is flagged in <asmvar>OPENED</asmvar>. Shutter door updates check <asmvar>OPENED</asmvar> for the corresponding slot's flag to determine a shutter door's collision. Partner doors will have a high slot whose flag is never set. This is why, for example, the shutter door in the Ganon's Tower invisible floor maze can be west somaria'd then used immediately, but the one to the big chest requires the room to be reloaded to become passable.</p>

<p>Another cute quirk with one-sided shutters is that permanently opened doors have both sides replaced with the same door type, which is found via table at <addr>$009A02</addr>. To reuse everyone's favorite as an example: the shutter door blocking the Ganon's Tower big chest will become a shutter on both sides after reloading the room.</p>

<p>As a rule of thumb, intraroom doors always have the main door on the north or west walls, with their partner on the south or east walls, respectively.</p>

<h2>Collaboration</h2>

<p>In theory, we can use overlay corruption to put arbitrary tilemap positions into the <asmvar>DOORXTMAP</asmvar> array allowing us to index the tilemap out of bounds with a west somaria. This needs to all occur in the same room, and that room needs to naturally have far-reaching corruption. Even when you've found such a room, it needs to have specific room objects to do anything. Every entry of <asmvar>DOORXTMAP</asmvar> will be populated by tile values from the current tilemap, which puts specific limits on where they can potentially write.</p>

<p>The tilemap's base address is <addr>$7E2000</addr>, and it occupies <asmval>$4000</asmval> bytes in memory. Following that is a decompression buffer that occupies <asmval>$3000</asmval> bytes and then decompressed graphics for another <asmval>$3000</asmval> bytes. The first interesting address is the room warp destination at <addr>$7EC000</addr>; hitting this would require a tilemap value of <asmval>$A000</asmval>. That's not a value you will ever find in the tilemap. How do I know? Because I can just look at this gigantic table in ROM that contains every tilemap value used by any object in the underworld.</p>

<p>Instead of speculating what might be possible, how about I peruse that table to see if any of the values correspond to interesting memory? Is there anything cool?</p>

<p>The answer is no.</p>

<p>Technically, if it were in a better room, the vitreous goo could help convince the game you've lifted some non-existant pots in Ganon's room. And these pit corners could corrupt the location of lightable torches until you reload the underworld! But who cares?</p>

<p>What about the collision map? That's also updated by door opening routines.</p>

<p>The collision map sits at <addr>$7F2000</addr> and occupies <asmval>$2000</asmval> bytes. Changes to it are limited in how far they can write. The collision map is half the size of the tilemap buffer, so tilemap positions are divided by 2 to index it. They may also be masked, which limits them further. Most of what follows the collision map is boring or nothing, but two interesting, procedurally-built tables are within range: enemy damage classes at <addr>$7F6000</addr> and message pointers at <addr>$7F71C0</addr>.</p>

<p>Wow! This could be huge! Imagine what possibilites there are with the ability to modify the damage enemies take!</p>

<p>There's nothing cool.</p>

<p>I asked jsd to help me find every room where overlay corruption populates <asmvar>DOORXTMAP</asmvar> with interesting values. He reported back with several, but a lot of the candidate rooms were just not viable for glitching. To work, they need to have an appropriate configuration of doors as well as navigable post-overlay corruption collision. There also needs to be a way to set <asmvar>DOORPOS</asmvar> such that the desired door can be opened with a west somaria.</p>

<p>Instead of struggling to make things happen, let's go back to theory. We'll assume all of these candidate doors are easily twofold-corrupted and just look at what's theoretically possible. There's still not much of interest to talk about.</p>

<p>The enemies whose damages get changed are whatever. There are some odd sprites like somaria platforms or wall cannons that can be affected, but they can't even be damaged, so it's irrelevant. Well, maybe you can kill a cannon with arrows. I haven't checked, and I'm not gonna.</p>

<p>There's also the problem that we mostly get door-related tile types for the damage table writes. The damage subclass lookup exists at <addr>$0DB8F1</addr> in ROM and is followed by a 256-byte table dictating how projectiles should behave; this table only contains values up to <asmval>$04</asmval>, which means out-of-bounds damage table indices will return very low damages or zero. The indexed-door tile types of <asmval>$Fx</asmval> also dominate the calculation when treated as a subclass due to how the index is found, and all but one of them will fetch a damage of <asmval>$00</asmval>.</p>

<p>Illegal door types derived from the corruption in other arrays might result in some more exotic tile types being written, but none of the candidates are interesting enough to investigate further.</p>

<p>Just to do an example: we can try twofold-corruption in the Thieves' Town hellway. A west somaria here will include a write of <asmval>$F9</asmval> to <addr>$7F6446</addr>. This will change the fast blue guard's damage-taken-from-arrows subclass. When finding the actual damage to inflict, the lookup shifts the damage class three bits to the left before adding in the subclass, but that makes it irrelevant, because bits 3 through 7 are already set in the subclass. The routine thus uses an index of <asmval>$F9</asmval>, reading <addr>$0DB9EA</addr> to get 0. Now arrows do no damage to these guards.</p>

<p>Really? This is the most potent data corruption we have, covering a range of over 90,000 bytes! But, in practice, it's completely useless. What a shame.</p>

<p>For the curious, I've created a <a href="/twofoldstc">table of the candidates</a> and what memory they might technically be able to corrupt.</p>

<p>Ideally, Ganon or Agahnim could have been modified to take more serious damage, possibly from a different weapon. Being able to set Ganon on fire with the boomerang would have been cool and maybe even redefine the swordless category.</p>

<p>With the message pointers, we were crossing our fingers to hit one of the crystal maiden messages. It could have potentially cut minutes off of glitched speedruns by turning their blabbering into short gibberish. Unfortunately, very few messages are hit. We can change the spawn point selection to say "集めるのです。", which is funny, but not funny enough to justify. Especially in a speedrun.</p>

<p>These were small targets, so the chances of something useful were low to begin with, but, like, could you imagine if?</p>

<h2>Summary</h2>

<p>Somaria transition corruptions occur because the somaria block pushback routine includes a very haphazard movement halt that recalculates the camera, causing a double transition. West somarias are unique due to coordinate manipulation that occurs on transition. This difference causes them to perform a west transition followed by an east transition. These opposing transitions enter the key door opening submodule, allowing arbitrary doors to be opened by carefully manipulating the timer and position cache used by this routine.</p>

<p>Due to extra logic surrounding their behavior, shutter doors have some quirks to consider when targeted. They can be visually open but impassible, and are picky about when they stay open. They also have the ability to infect the door they're paired with, turning it into a shutter when the room is loaded.</p>

<p>Combined with overlay corruption, west somarias have the potential to corrupt the largest known range of memory; however, most of this range is not interesting, and the memory that can be corrupted in practice is not really useful.</p>
