<!doctype html>
<html lang="en-US" class="{{ page.background }}">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/assets/base.css">
		<link rel="stylesheet" href="/assets/explication.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Courier+Prime&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/lj.ico">
		<script src="/assets/formatscripts.js" type="text/javascript"></script>
	</head>

	<body id="page-top">
		<nav class="navbar sitenav">
			<div class="metaLinks">
				<a href="#top" title="Page top">Top</a>
				<a href="#null" title="Clear definition hilite">Clr</a>
			</div>
			<div class="Home"><a href="/">Home</a></div>
			<div class="Links">
				<ul>
					<li><a href="/lttphack">Practice Hack</a></li>
					<li><a href="/gauntlet">Gauntlet</a></li>
					<li><a href="/explication">Explications</a></li>
				</ul>
			</div>
		</nav>

		<div id="top" class="content {{ page.background }}">
			<div class="contentstuff {{ page.contentclass }}">
				{{ content }}
			</div>
		</div>
	</body>
</html>