<!doctype html>
<html lang="en-US" class="{{ page.background }}">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/assets/base.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Courier+Prime&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/lj.ico">
	</head>

	<body id="page-top">
		<nav class="navbar sitenav">
			<div class="metaLinks">
				<a href="#top" title="Page top">Top</a>
				<a href="#null" title="Clear definition hilite">Clr</a>
			</div>
			<div class="Home"><a href="https://spannerisms.github.io">Home</a></div>
			<div class="Links">
				<ul>
					<li><a href="lttphack" target="_blank">Practice Hack</a></li>
					<!--<li><span class="dropdown">Hacks</span>
						<ul>
							<li><a href="rupeegreen">Rupee Green</a></li>
						</ul>
					</li>-->
					<li><a href="explication">Explications</a>
						<ul>
							<li><a href="glossaries">Glossaries</a></li>
							<li><a href="WESTSOMARIA">West somarias</a></li>
							<li><a href="treewarp">Tree warp</a></li>
							<li><a href="fakeflippers">Fake flippers</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div id="top" class="content {{ page.background }}">
			{{ content }}
		</div>
	</body>
</html>